<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="icon" href="/imgs/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
      <p>This site used data from Weatherstack and Mapbox and was created by following the Node.js Course by Andrew Mead on Udemy.</p>
      <img class="portrait" src="imgs/robot.png" alt="" />
      </div>
    {{>footer}}
  </body>
</html>